.table {
    height: 100%;
    width: 100%;
}

.item_columns {
    width: 100%;
    height: 50px;
    background-color: #ECECF9;
    font-size: 1.1rem;
    font-weight: 600;
}

.item {
    align-items: center;
    width: 90%;
    height: 2.2vw;
    padding: 0 24px;
    display: flex;
}

@media (max-width: 1600px) {
    .item {
        height: 2vw;
    }
}

.item:nth-child(1) {
    min-width: 19%;
}
.item:nth-child(2) {
    display: flex;
    justify-content: center;
    max-width: 10%;
}
.item:nth-child(3) {
    padding: 0 10px;
    display: flex;
    justify-content: center;
    max-width: 15%;
}
.item:nth-child(4) {
    padding-right: 24px;
    display: flex;
    justify-content: center;
    min-width: 20%;
}
.item:nth-child(5) {
    display: flex;
    justify-content: space-evenly;
}

.name_column_one:nth-child(1) {
    min-width: 30%;
}
.name_column_one:nth-child(2) {
    min-width: 11%;
    margin: 0 10px 0 7px;
}
.name_column_one:nth-child(3) {
    min-width: 23%;
}
.name_column_one:nth-child(4) {
    min-width: 24%;
}

.elements_table_general_block {
    width: 100%;
}

.li {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.elements_table_general_block:nth-child(2n) {
    background-color: #F8F7FD;
}

@media (min-width: 1500px) {
    .name_column_one:nth-child(1) {
        min-width: 28%;
    }
    .name_column_one:nth-child(2) {
        min-width: 10%;
        margin: 0 10px 0 7px;
    }
    .name_column_one:nth-child(3) {
        min-width: 23%;
    }
    .name_column_one:nth-child(4) {
        min-width: 26%;
    }
}